div.row{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  letter-spacing: normal;
  line-height: 40px;
  font-size: 12px;
  font-family:"Times New Roman";
	.justify{
	height:1.1em;
	overflow:hidden;
	text-align:justify;
	text-justify : distribute-all-lines     ;
	}
}
